// BASE
@import "./base/reset";
@import "./base/customize";

//HELPERS
@import "./Helpers/mixin";
@import "./Helpers/variables";

// COMPONENT
@import "./components/button";

// LAYOUT
@import "./layouts/header";
@import "./layouts/carousel";
@import "./layouts/team";
@import "./layouts/contact";
@import "./layouts/footer";

@include breakpoint(1024) {
  .carousel {
    .container {
      padding: 0 3.5rem;
    }
    .carousel-title {
      font-size: $fs-7;
    }
  }

  .team .container .team__member .member .member__content p {
    font-size: 1.5rem;
    padding: 0 1.5rem 4.9rem;
  }

  .contact {
    .container {
      .contact__image {
        width: 100%;
        padding-left: initial;
      }
    }
  }

  .footer {
    padding: 19rem 2rem;

    .container .footer__item .footer__content {
      padding: 0 7px;

      .footer-button button {
        width: 90%;
      }
    }
  }
}

@include breakpoint(991) {
  .carousel .container {
    flex-wrap: wrap;

    .contact__form {
      width: 100%;
      margin-left: 0;

      .form-text {
        .contactName,
        .contactEmail {
          input {
            padding: 1.1rem 25rem 1rem 2.6rem;
          }
        }
      }
      .form-select select {
        width: 98%;
      }

      .form-mess textarea {
        width: 93.5%;
      }
    }
  }

  .team .container .team__member .member {
    width: 50%;
  }

  .footer {
    padding: 19rem 3rem;

    .container {
      flex-wrap: wrap;

      .footer__item {
        width: 50%;

        .footer__content .footer-button {
          input {
            width: 88%;
          }
          button {
            width: 100%;
          }
        }
      }
    }
  }
}

@include breakpoint(767) {
  .contact .container .contact__form {
    .form-text {
      flex-wrap: wrap;

      .contactName,
      .contactEmail {
        max-width: 100%;
        margin-bottom: 1rem;

        input {
          padding: 1.1rem 46rem 1rem 2.6rem;
        }
      }
    }
    button {
      padding: 1.8rem 30.5rem;
    }
  }

  .footer .container .footer__item .footer__content .footer-button button {
    width: 104%;
  }
}

@include breakpoint(575) {
  .carousel .container {
    .carousel-title {
      padding-right: 0;
      h1 {
        font-size: $fs-7;
      }
    }

    .carousel-image {
      width: 100%;
    }
  }

  .team .container .team__member .member .member__content p {
    font-size: 1.5rem;
    padding: 0 1.5rem 4.9rem;
  }

  .contact .container .contact__form {
    .form-text {
      flex-wrap: wrap;

      .contactName,
      .contactEmail {
        max-width: 100%;
        margin-bottom: 1rem;

        input {
          padding: 1.1rem 29rem 1rem 2.6rem;
        }
      }
    }
    .form-select select {
      width: 101%;
    }
    button {
      padding: 1.8rem 21rem;
    }
  }

  .footer .container {
    .footer__item {
      width: 50%;
      margin-bottom: 7rem;
      padding-right: 1rem;

      .footer__content .footer-button {
        input {
          width: 84%;
        }
      }
    }
  }
}

@include breakpoint(375) {
  .team .container .team__member .member {
    width: 100%;
  }

  .contact .container .contact__form {
    .form-text {
      flex-wrap: wrap;

      .contactName,
      .contactEmail {
        max-width: 100%;
        margin-bottom: 1rem;

        input {
          padding: 1.1rem 9rem 1rem 2.6rem;
        }
      }
    }
    .form-select select {
      width: 101%;
    }
    .form-mess textarea {
      width: 86.5%;
    }

    button {
      padding: 1.8rem 10.5rem;
    }
  }
}
