@mixin Wallpaper($top,$zi,$bottom) {
    width: 100%;
    position: absolute;
    left: 0;
    top:$top;
    z-index: $zi;
    bottom: $bottom;
}


@mixin icon($top,$left) {
    position: absolute;
    color: $color-violet;
    top: $top;
    left: $left;
}


@mixin textStyle($fs,$fw,$color)  {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
}

@mixin breakpoint($point) {
	@if $point == 1024 {
		@media only screen and (max-width: 1024px) { @content ; }
	}
	@else if $point == 991 {
		@media only screen and (max-width: 991px) { @content ; }
	}
	@else if $point == 767 {
		@media only screen and (max-width: 767px) { @content ; }
	}
	@else if $point == 575 {
		@media only screen and (max-width: 575px) { @content ; }
	}
	@else if $point == 375 {
		@media only screen and (max-width: 375px) { @content ; }
	}
}