.header {
  z-index: 11000;
  position: absolute;
  width: 100%;

  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .header-logo {
      width: 26%;

      img {
        width: 80px;
      }
    }

    .nav {
      display: flex;
      flex-direction: row;
      padding-left: 5rem;
      ul {
        display: flex;
        font-size: $fs-2;
      }
      li {
        margin-right: 4.5rem;
      }
      a {
        font-weight: $fw-2;

        &:hover {
          color: $color-violet;
        }
      }
    }

    .header-contact {
      span {
        margin-left: 6px;
      }

      .btn-violet {
        margin-right: 1.5rem;
      }

      .header-icon {
        display: inline-block;

        a {
          margin-right: 1.5rem;
          font-size: $fs-2;

          &:hover {
            color: $color-violet;
          }
        }
      }
    }
  }
}
