.team {
  background-color: #dcd1f3;
  @extend .carousel;

  .container {
    .team__member {
      display: flex;
      flex-wrap: wrap;

      .member {
        width: 25%;
        margin-bottom: 2.5rem;
        padding: 2rem;

        .member__content {
          border-radius: 6px;
          transition: all 0.4s linear;

          &:hover {
            transform: translateY(-0.5rem);
            box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
            transition: 0.3s ease-in;
          }

          .member__image img {
            width: 100%;
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
          }

          .member__info {
            text-align: center;
            background-color: $color-white;
            border-bottom-right-radius: 6px;
            border-bottom-left-radius: 6px;
            }
            h4 {
              padding-top: 3.5rem;
              @include textStyle($fs-1, $fw-2, $color-violet);
            }
            h3 {
              margin: 1.5rem 0;
              @include textStyle($fs-6, $fw-3, $color-black-title);
            }
            p {
              font-size: $fs-4;
              padding: 0 2.5rem 4.9rem;
            }
          }
        }
      }
    }
  }
  .team-wallpaper img {
    @include Wallpaper(none, -1, 0);
  }

@include breakpoint(1024) {
  .team .container .team__member .member .member__content p {
    font-size: 1.5rem;
    padding: 0 1.5rem 4.9rem;
  }
}

@include breakpoint(991) {
  .team .container .team__member .member {
    width: 50%;
  }
}

@include breakpoint(575) {
  .team .container .team__member .member .member__content p {
    font-size: 1.5rem;
    padding: 0 1.5rem 4.9rem;
  }
}

@include breakpoint(375) {
  .team .container .team__member .member {
    width: 100%;
  }
}